<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>About Us</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!--Link for button-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="card.css">

    <!-- Font Awesome JS -->
    <script src="socket.io/socket.io.js"></script>
    <script src="script.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><span>S</span>emjong Water Project</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Welcome</p>
                <li class="active">
                    <a href="/">Home</a>
                <li>
                    <a href="www.google.com">Water Scheduling</a>
                </li>
                <li>
                    <a href="/about">About Us</a>
                </li>
                <li>
                    <a href="/alarm">Alarm & Events</a>
                </li>
            </ul>
            <div class="contacts">
                <h3>Contact Details:</h3>
                <div class="contact">
                    <div class="place">
                        <span class="fas fa-map-marker-alt"></span>
                        <span class="text">Semjong,Tsirang</span>
                    </div>
                    <div class="phone">
                        <span class="fas fa-phone"></span>
                        <span class="text">+97517276676</span>
                    </div> <div class="email">
                        <span class="fas fa-envelope"></span>
                        <span class="text">abc@email.com</span>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-custom">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="headimg">
                        <div class="desung">
                            <img src="logo.png">
                        </div>
                        <div class="dhi">
                            <img src="DHI.png">
                        </div>
                        <div class="gyelsung">
                            <h2>Gyalsung Infra</h2>
                            <span>The National Service</span>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="cards">
                <div class="card">
                    <div class="card-text">
                      <h3>DRIVE</h3>
                      <label>DHI Research and Innovation Venture Excellence</label>
                      <p>
                          The DRIVE Center is envisioned towards establishing national and international collaborative in applied and
                          fundamental research initiative in area of science and technology, specifically looking into the disruptive technologies building Industry 4.0. 
                      </p>
                    </div>
                    <div class="card-stat">
                        <div class="contacts">
                            <h3>Contact Details:</h3>
                            <div class="contact">
                                <div class="place">
                                    <span class="fas fa-map-marker-alt"></span>
                                    <span class="text">Thimphu Techpark, Babesa</span>
                                </div>
                                <div class="phone">
                                    <span class="fas fa-phone"></span>
                                    <span class="text">+975 17276676</span>
                                </div> <div class="email">
                                    <span class="fas fa-envelope"></span>
                                    <span class="text"><u>https://innotech.dhi.bt/</u></span>
                                </div>
                            </div>
                        </div>
                          
                    </div>
                </div> 

                <div class="cardright">
                    <div class="cardright-text">
                        <h2>Semjong Project</h2>
                        <p>
                            It is the second national pilot project for De-Suung National sercices on improving and expanding water supply.
                            It resolves the current drinking water shortage and provide water for irrigation purpose.
                        </p>
                        <p>
                            As an integrated scheme, the project would supply drinking water to 69 households, benefiting about 300 people, and provide water for irrigation to benefit about 70 acres.
                        </p>
                        <p>
                            A team of 45 De-Suups, comprising of six engineers, undertook the pilot project with guidance from dzongkhag engineers and experts from the Ministry of Agriculture and Forests (MoAF).
                        </p>

                    </div>
                    
                </div>
                
            </div>


        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
   <script src="about.js"></script>
   
</body>

</html>